
header{
    width: 100vw;
    height: 100vh;
}
header .navnigate-container{
    z-index: 3;
}
/* ------------------------------------------------------------- */
article.abouted p{
    text-align: justify;
font-weight: 600;
    line-height: 30px;
    color: rgb(102, 102, 102)
}
article.abouted .playlogo{
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translate(50% , 50%);
    width: 80px;
    height: 80px;
    background-color: #ffa323;
    border-radius: 50%;
    cursor: pointer;
}
/* ------------------------------------------------------------------- */
section.statistics{
    background: url('../../images/bg_4.jpg');
    /* background-position: center center; */
    background-size: cover;
    padding: 20px 0px;
    padding: 60px;
}
section.statistics p{
    text-align: center;
    color: #410049;
}
section.statistics p.number{
    font-size: 35px;
    font-weight: bold;
}
section.statistics p.title{
    font-size: 17px;
    font-weight: bold;
}
/* -------------------------------------------------------------- */
section.servises > *{
    text-align: center;
}
section.servises .servis-logo{
    width: 150px;
    height: 150px;
    background-color:#ffa323 ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
section.servises .servis-item h3{
    color: #333333;
}
section.servises .servis-item p{
    color: #666666;
    text-align: justify;
}
/* ------------------------------------------------------------------- */
section.meal h3.meal-title{
    font-weight: bolder;
    color: #333333;
}



@media screen and (min-width : 992px) {
    section.statistics{
        background: url('../../images/bg_4.jpg') fixed;
        background-position: top right;
        background-size: cover;
    }
    section.servises .servis-item p{
        color: #666666;
        text-align: center;
    }
}