@font-face {
    font-family: "lalezar";
    src: url("../public/font/lalezar.ttf");
  }
  @font-face {
    font-family: "iransanse";
    src: url("../public/font/Iranian-Sans.ttf");
  }
  @font-face {
    font-family: "yekan";
    src: url("../public/font/Yekan.ttf");
  }
  @font-face {
    font-family: "vazir";
    src: url("../public/font/Vazir.ttf"),
         url("../public/font/Vazir.woff");
  }
  * {
    box-sizing: border-box;
    font-family: vazir;
    margin: 0px;
    padding: 0px;
  }
  
  ul {
    list-style-type: none;
  }

  a{
    text-decoration: none !important;
  }
.row{
  width: 100% !important;
}

.lalezar{
  font-family: lalezar;
}
.iransanse{
  font-family: iransanse;
}
.yekan{
  font-family: yekan;
}
.vazir{
  font-family: vazir;
}
  

h2.before-title{
  content: "پارس فود";
  display: block;
  font-family: iransanse;
  text-align: center;
  position: relative;
  top: 35px;
  color: rgba(255, 163, 35, 0.726);
  z-index: 0;
  
}
h3.section-title{
  position: relative;
  z-index: 2;
  color: #333333;
}

